.header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #fcf1c5;
  .linkBox {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    .link {
      font-size: 20px;
      font-family: sans-serif;
    }
  }
}